@import './globals.css';
@import './colors.scss';
@import 'bootstrap/dist/css/bootstrap.css'; 
.buttun{
    border: none;
    color: white;
    padding:0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    text-align: center;
    &-primary{
        background-color: $primariy-blue-100;
    }
    &-success{
        background-color: $primariy-green-100;
    }
    &-light{
        color: rgb(0, 0, 0);
        background-color:white;
        border: 1px solid black;
    }
}