$primariy-blue-100:rgb(0, 132, 219);
$primariy-green-100:rgb(0, 129, 6);


$primariy-black-75:rgb(24, 24, 24);
$primariy-white-75:rgb(182, 182, 182);
$primariy-white-25:rgb(221, 221, 221);

$primary-black-100:rgb(0, 0, 0);
$primary-black-75:#111111;
$primary-black-25:#333333;

$primary-white-100:rgb(255, 255, 255);
$primary-white-25:rgb(163, 162, 162);
$primary-white-75:rgb(211, 211, 211);

$primary-blue:rgb(49, 172, 243);